@use 'variables' as *

#about

    .text-container
        color: $text
        @include left-block
        margin: 2rem 5rem
        flex-direction: column
        width: 45%
        height: 50%
        border-radius: 5px
        background: #00000053
        padding-bottom: 3rem
        padding: 2rem

        .text-title
            font-family: $page-title
            font-size: 5rem
            align-self: start
            color: $btn

        .text
            font-family: $main-text
            font-size: 1.4rem
            line-height: 2.5rem

    img
        position: absolute
        top: 1rem
        right: 1rem
