@use 'variables' as *

#content
    width: 100vw
    height: 100vh

#home

    .text-container
        @include make-center
        flex-direction: column
        padding: 2.5rem
        margin: 3rem 10rem 2rem
        background: #00000053
        border-radius: 5px
        height: 75vh

        .text-title
            font-family: $page-title
            font-size: 5rem
            color: $btn

        .text
            text-align: center
            font-family: $main-text
            font-size: 1.5rem
            line-height: 1.5rem
            color: $text
            white-space: pre
            margin-bottom: 2rem

        .pizzaimg
            width: 40%
            height: 60%
