@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Hachi+Maru+Pop&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,500&family=Comfortaa&family=Hachi+Maru+Pop&family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191F2C;
  background-image: url("../assets/bg-items/bg-texture.png");
  width: 100vw;
  height: 100vh;
}

header {
  font-family: "Bodoni Moda", serif;
  color: #FFFFFF;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.462745098);
}
header button {
  all: unset;
}
header button:hover {
  color: #F6B716;
}
header .rest-name {
  font-size: 2rem;
  padding-left: 5rem;
}
header .nav-container {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
}
header .buy {
  position: relative;
  top: 2px;
  padding-right: 18rem;
}

#content {
  width: 100vw;
  height: 100vh;
}
#content .bg-item-lettuce {
  position: absolute;
  top: -10px;
  right: 0px;
}
#content .bg-item-parsley {
  position: absolute;
  top: 35vh;
  left: -20px;
}
#content .bg-item-garlic {
  position: absolute;
  bottom: 0;
  left: 0;
}
#content .bg-item-beans {
  position: absolute;
  bottom: 0;
  right: 0;
}
#content .bg-item-tomato {
  position: absolute;
  bottom: 40vh;
  right: 70px;
}
#content .bg-item-carolina {
  position: absolute;
  left: 18rem;
  top: 9rem;
}
#content .pizzacontainer {
  display: flex;
  justify-content: center;
}
#content .pizzacontainer .dough {
  position: absolute;
  bottom: 0;
  transform: translate(12px, 0);
}
#content .pizzacontainer .selection {
  position: absolute;
  bottom: 0;
}

#about .text-container {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 5rem;
  margin: 2rem 5rem;
  flex-direction: column;
  width: 45%;
  height: 50%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3254901961);
  padding-bottom: 3rem;
  padding: 2rem;
}
#about .text-container .text-title {
  font-family: "Bodoni Moda", serif;
  font-size: 5rem;
  align-self: start;
  color: #F6B716;
}
#about .text-container .text {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
#about img {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#menu .menu-title {
  font-family: "Bodoni Moda", serif;
  font-size: 5rem;
  color: #F6B716;
  margin: 1rem 5rem 3rem 8rem;
}
#menu .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-bottom: 4rem;
  gap: 3.5rem;
}
#menu .wrapper .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 360px;
  width: 400px;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  line-height: 1.5rem;
  background: rgba(0, 0, 0, 0.3254901961);
  border-radius: 5px;
  padding: 4rem;
  border: 1px dashed #F6B716;
}
#menu .wrapper .menu-item p {
  font-size: 0.8rem;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

#contact .text-wrapper {
  display: flex;
  justify-content: space-evenly;
}
#contact .text-wrapper .text-container {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 5rem;
  flex-direction: column;
  align-items: flex-start;
  width: 62rem;
  height: 450px;
  padding: 2.5rem;
  background: rgba(0, 0, 0, 0.3254901961);
  border: 1px dashed #F6B716;
  border-radius: 5px;
}
#contact .text-wrapper .text-container .text-title {
  font-family: "Bodoni Moda", serif;
  font-size: 5rem;
  align-self: start;
  color: #F6B716;
}
#contact .text-wrapper .text-container .text {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #FFFFFF;
  white-space: pre;
}
#contact .text-wrapper .hourscontainer {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 5rem;
  flex-direction: column;
  border: 1px dashed #F6B716;
  width: 350px;
  height: 450px;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.3254901961);
  border-radius: 5px;
}
#contact .text-wrapper .hourscontainer .hours-title {
  align-self: center;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 3rem;
  font-family: "Bodoni Moda", serif;
  color: #F6B716;
}
#contact .text-wrapper .hourscontainer .hours {
  align-self: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2.5rem;
  white-space: pre;
}